:host {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        color: var(--p-primary-color);
    }

    .auth-data-input {
        width: 500px;
    }

    .auth-data-input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: auto;
    }

    a {
        color: var(--p-primary-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: var(--p-primary-400);
        }
    }
}