:host {
    $panel-size: 210px;

    margin: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    
    .question-base-panel {
        background: var(--p-zinc-800);
        color: var(--p-text-color);
        width: $panel-size;
        height: $panel-size;
        border-radius: var(--p-border-radius-lg);
        margin: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
            color: var(--p-zinc-400);
        }

        h1, p {
            padding: 0px;
            margin: 0px;
        }

        &:hover {
            background: var(--p-zinc-700);
            transition: 0.2s;
            cursor: pointer;
        }
    }

    .contains-delete-button {
        position: relative;
    }

    .clickable-icon {
        position: absolute;
        font-size: 1.2rem;
        color: var(--p-text-color);
        transition: 0.1s;
        bottom: 10px;

        &:hover {
            transition: 0.1s;
            bottom: 10px;
            color: var(--p-primary-color);
        }
    }

    .delete-icon {
        right: 10px;
    }

    .edit-icon {
        right: 38px;
    }

    p-floatLabel {
        margin: 40px 10px;
    }

    .dialog-button {
        margin-left: 10px;
    }

    .dialog-buttons-box {
        margin-top: 15px;
        margin-right: 10px;
        display: flex;
        justify-content: end;
    }
}