:host {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .nav-bar-item {
        margin: 0px 16px;
        font-size: 1.3vw;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 25px;
        border-radius: var(--p-border-radius-md);
        transition: 0.2s;
        color: var(--p-text-color);
        
        &:hover {
            cursor: pointer;
            background: var(--p-primary-900);
            transition: 0.2s;
        }
    }

    .nav-bar-items {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    i {
        font-size: 1.5rem;
        margin-right: 10px;
    }

    p-divider {
        margin: 0;
    }
}