<p-confirmDialog></p-confirmDialog>
<div class="container">
    @for (question of questions; track $index) {
        <div class="question-panel" (click)="currentEditedQuestionIndex = $index; openQuestionEditor($index)">
            <h1>{{ question.content }}</h1>

            <div class="answer-box">
                <div class="answer-row">
                    <div class="answer-column">
                        <h2>Odpowiedź A:</h2>
                        <p>
                            @if (question.answers[0].isCorrect) {
                                <i class="pi pi-check-circle" style="font-size: 1rem"></i>
                            } @else {
                                <i class="pi pi-times-circle" style="font-size: 1rem"></i>
                            }
                            
                            {{ question.answers[0].content }}
                        </p>
                    </div>
                    <div class="answer-column">
                        <h2>Odpowiedź B:</h2>
                        <p>
                            @if (question.answers[1].isCorrect) {
                                <i class="pi pi-check-circle" style="font-size: 1rem"></i>
                            } @else {
                                <i class="pi pi-times-circle" style="font-size: 1rem"></i>
                            }

                            {{ question.answers[1].content }}
                        </p>
                    </div>
                </div>

                @if (question.answers.length > 2) {
                    <div class="answer-row">
                        <div class="answer-column">
                            <h2>Odpowiedź C:</h2>
                            <p>
                                @if (question.answers[2].isCorrect) {
                                    <i class="pi pi-check-circle" style="font-size: 1rem"></i>
                                } @else {
                                    <i class="pi pi-times-circle" style="font-size: 1rem"></i>
                                }

                                {{ question.answers[2].content }}
                            </p>
                        </div>

                        @if (question.answers.length > 3) {
                            <div class="answer-column">
                                <h2>Odpowiedź D:</h2>
                                <p>
                                    @if (question.answers[3].isCorrect) {
                                        <i class="pi pi-check-circle" style="font-size: 1rem"></i>
                                    } @else {
                                        <i class="pi pi-times-circle" style="font-size: 1rem"></i>
                                    }
    
                                    {{ question.answers[3].content }}
                                </p>
                            </div>
                        }

                    </div>
                }

            </div>

            <i class="pi pi-trash delete-icon" (click)="displayQuestionRemovalModal($event, $index)"></i>
        </div>
    }
</div>

<p-button class="add-question-button" (click)="currentEditedQuestionIndex = -1; questionDialogVisible = true">
    <i class="pi pi-plus" style="font-size: 1.5rem; color: var(--text-color)"></i>
</p-button>

<p-dialog [formGroup]="questionFormGroup" [header]="getDialogHeader()" [modal]="true" [visible]="questionDialogVisible" [closable]="false" [draggable]="false" [resizable]="false" [style]="{ width: '72rem', height: '29rem' }">
    <div class="question-input-box">
        <div class="question-content-box">
            <p-floatLabel>
                <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="90" formControlName="content"/>
                <label for="quesiton-content">Pytanie</label>
            </p-floatLabel>
        </div>

        <div class="question-answer-row">
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[0]"/>
                        <label for="quesiton-content">Odpowiedź A</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[0]"
                                [binary]="true" 
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[1]"/>
                        <label for="quesiton-content">Odpowiedź B</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[1]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                </p-floatLabel>
                </p-inputGroup>
            </div>
        </div>

        <div class="question-answer-row">
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[2]"/>
                        <label for="quesiton-content">Odpowiedź C</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[2]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[3]"/>
                        <label for="quesiton-content">Odpowiedź D</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[3]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>
        </div>
    </div>
    
    @if (currentEditedQuestionIndex >= 0) {
        <div class="question-buttons-box">
            <p-button label="Anuluj" severity="danger" [outlined]="true" (click)="questionDialogVisible = false; questionFormGroup.reset(); currentEditedQuestionIndex = -1" class="dialog-button"/>
            <p-button label="Zapisz" severity="success" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="saveQuestion(); questionDialogVisible = false; questionFormGroup.reset(); currentEditedQuestionIndex = -1" class="dialog-button"/>
        </div>
    } @else {
        <div class="question-buttons-box">
            <p-button label="Anuluj" severity="danger" [outlined]="true" (click)="questionDialogVisible = false; questionFormGroup.reset()" class="dialog-button"/>
            <p-button label="Zapisz" severity="success" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="addQuestion(); questionDialogVisible = false; questionFormGroup.reset()" class="dialog-button"/>
        </div>
    }
</p-dialog>