:host {
    width: 100%;
    height: 100%;
    margin: 0;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .top-bar {
        padding: 15px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        background: var(--p-zinc-850);

        input {
            width: 100%;
        }
    }

    .question-box {
        margin: 0;
        width: 100%;
        max-height: 100%;
        padding-top: 15px;
        overflow: auto;
    }

    .question-panel {
        position: relative;
        background: var(--p-zinc-900);
        margin: 0 15px 15px 15px;
        border-radius: var(--p-border-radius-lg);
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s;

        &:hover {
            background: var(--p-zinc-800);
            transition: 0.2s;
            cursor: pointer;
        }
    }

    .question-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: start;
        justify-content: center;
        width: 100%;

        h1 {
            font-size: 28px;
            line-height: 28px;
            margin: 0;
            padding: 0 0 10px 0;
        }

        p-image {
            margin: 0 0 10px 0;
        }
    }

    .image-button .pi {
        font-size: 10px !important;
    }

    .answer-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .answer-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px;
    }

    .answer-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            color: var(--p-zinc-300);
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: var(--p-zinc-300);

            i {
                padding: 0 5px 0 0;
                color: var(--p-zinc-300);
            }
        }
    }

    .delete-icon {
        position: absolute;
        font-size: 1.2rem;
        color: var(--p-zinc-300);
        transition: 0.1s;
        bottom: 10px;
        right: 10px;

        &:hover {
            color: var(--p-primary-color);
            transition: 0.1s;
        }
    }

    .add-question-button {
        padding: 0px;
        border-radius: 100%;
        display: flex;
        position: absolute;
        transition: 0.2s;
        right: 30px;
        bottom: 30px;
    }
}