<p-toast position="bottom-left" [life]="3000" />
<p-confirmDialog></p-confirmDialog>
<div class="container">
    <div class="top-bar">
        <p-button [outlined]="true" [style]="{'margin-right': '25px', width: 'max-content'}" label="Bazy pytań" icon="pi pi-arrow-left" (click)="goBack()"></p-button>

        <input type="text" pInputText placeholder="Wyszukaj pytania po treści" [formControl]="searchFormControl"/>

        <p-button [outlined]="true" [style]="{'margin-left': '25px'}" label="Szukaj" icon="pi pi-search" (click)="searchForQuestions()" [disabled]="searchFormControl.invalid"></p-button>
        <p-button [outlined]="true" [style]="{'margin-left': '25px', width: 'max-content'}" label="Nowe pytanie" icon="pi pi-plus" (click)="currentEditedQuestionIndex = -1; questionDialogVisible = true"></p-button>
    </div>

    <div class="question-box">
        @if (!questions || questions.length == 0) {
            <div style="display: flex; justify-content: center;  margin: 0px 25px;">
                <p>Brak pytań do wyświetlenia</p>
            </div>
        }

        @for (question of questions; track $index) {
            <div class="question-panel" (click)="currentEditedQuestionIndex = $index; openQuestionEditor($index, $event)">
                <div class="question-content">
                    @if (question.image != null) {
                        <p-image [src]="question.image.imageBase64" alt="Obraz do treści" height="150" [preview]="true" class="independent-cilck-action"></p-image>
                    }
                    <h1>{{ question.content }}</h1>
                </div>
                <div class="answer-box">
                    <div class="answer-row">
                        <div class="answer-column">
                            @if (question.answers[0].isCorrect) {
                                <h2 style="color: var(--p-primary-color)">Odpowiedź A:</h2>
                                <p style="color: var(--p-primary-color)">
                                    <i class="pi pi-check-circle" style="font-size: 0.8rem; color: var(--p-primary-color)"></i>
                                    {{ question.answers[0].content }}
                                </p>
                            } @else {
                                <h2>Odpowiedź A:</h2>
                                <p>
                                    <i class="pi pi-times-circle" style="font-size: 0.8rem"></i>
                                    {{ question.answers[0].content }}
                                </p>
                            }
                        </div>
                        <div class="answer-column">
                            @if (question.answers[1].isCorrect) {
                                <h2 style="color: var(--p-primary-color)">Odpowiedź B:</h2>
                                <p style="color: var(--p-primary-color)">
                                    <i class="pi pi-check-circle" style="font-size: 0.8rem; color: var(--p-primary-color)"></i>
                                    {{ question.answers[1].content }}
                                </p>
                            } @else {
                                <h2>Odpowiedź B:</h2>
                                <p>
                                    <i class="pi pi-times-circle" style="font-size: 0.8rem"></i>
                                    {{ question.answers[1].content }}
                                </p>
                            }
                        </div>
                    </div>

                    @if (question.answers.length > 2) {
                        <div class="answer-row">
                            <div class="answer-column">
                                @if (question.answers[2].isCorrect) {
                                    <h2 style="color: var(--p-primary-color)">Odpowiedź C:</h2>
                                    <p style="color: var(--p-primary-color)">
                                        <i class="pi pi-check-circle" style="font-size: 0.8rem; color: var(--p-primary-color)"></i>
                                        {{ question.answers[2].content }}
                                    </p>
                                } @else {
                                    <h2>Odpowiedź C:</h2>
                                    <p>
                                        <i class="pi pi-times-circle" style="font-size: 0.8rem"></i>
                                        {{ question.answers[2].content }}
                                    </p>
                                }
                            </div>

                            @if (question.answers.length > 3) {
                                <div class="answer-column">
                                    @if (question.answers[3].isCorrect) {
                                        <h2 style="color: var(--p-primary-color)">Odpowiedź D:</h2>
                                        <p style="color: var(--p-primary-color)">
                                            <i class="pi pi-check-circle" style="font-size: 0.8rem; color: var(--p-primary-color)"></i>
                                            {{ question.answers[3].content }}
                                        </p>
                                    } @else {
                                        <h2>Odpowiedź D:</h2>
                                        <p>
                                            <i class="pi pi-times-circle" style="font-size: 0.8rem"></i>
                                            {{ question.answers[3].content }}
                                        </p>
                                    }
                                </div>
                            }

                        </div>
                    }

                </div>

                <i class="pi pi-trash delete-icon independent-cilck-action" (click)="displayQuestionRemovalModal($event, $index)"></i>
            </div>
        }
    </div>
</div>

<p-dialog [modal]="true" [style]="{ width: 'auto', height: 'auto' }" [(visible)]="imagePreviewVisible" [closable]="true" [draggable]="false" [resizable]="false">
    @if (imagePreviewVisible) {
        @if (this.questions![currentEditedQuestionIndex].image != null && temporaryContentImage == null) {
            <p-image [src]="this.questions![currentEditedQuestionIndex].image!.imageBase64" alt="Image Preview" [style]="{ height: 'auto', width: '25rem', margin: '5px'}"></p-image>
        } @else {
            <p-image [src]="temporaryContentImage!.imageBase64" alt="Image Preview" [style]="{ height: 'auto', width: '25rem', margin: '5px'}"></p-image>
        }
    }
</p-dialog>

<p-dialog [formGroup]="questionFormGroup" [header]="getDialogHeader()" [modal]="true" [visible]="questionDialogVisible" [closable]="false" [draggable]="false" [resizable]="false" [style]="{ width: '72rem', height: '34rem' }">
    <div class="question-input-box">
        <div class="question-content-box">
            <p-floatLabel>
                <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="90" formControlName="content"/>
                <label for="quesiton-content">Pytanie</label>
            </p-floatLabel>

            <div class="question-content-image-box">
                <div style="display: flex; margin: 0; padding: 0; flex-direction: row;">
                    <p-fileUpload
                    #fileUploader
                    accept="image/*"
                    [maxFileSize]="this.maxImageSize"
                    [customUpload]="true"
                    mode="basic"
                    [multiple]="false"
                    (onSelect)="setTemporaryContentImage(fileUploader)"
                    [auto]="true"
                    [chooseLabel]="getContentImageFileUploaderText()"
                    chooseIcon="pi pi-upload"
                    (onSelect)="handleSelectedContentImage($event)"
                    invalidFileSizeMessageSummary=""
                    invalidFileSizeMessageDetail=""
                    [style]="
                        {'height': '30px',
                        'color': 'var(--p-primary-color)',
                        'margin-right': '12px',
                        'margin-top': '10px',
                        'font-size': '14px',
                        'background': 'transparent'}"
                    ></p-fileUpload>
                    
                    @if (!!questions && currentEditedQuestionIndex >= 0) {
                        @if ((temporaryContentImage != null || this.questions![currentEditedQuestionIndex].image != null) && temporaryContentImage?.imageBase64 != '') {
                            <p-button 
                                type="button" 
                                icon="pi pi-eye"
                                (click)="imagePreviewVisible = true"
                                [outlined]="true"
                                severity="primary"
                                [style]="
                                    {'height': '30px',
                                    'margin-right': '12px',
                                    'margin-top': '10px',
                                    'font-size': '14px'}"
                                />

                            <p-button 
                                type="button" 
                                label="" 
                                icon="pi pi-trash"
                                (click)="temporaryContentImage = {imageBase64: '', imageName: ''}"
                                severity="secondary"
                                [outlined]="true"
                                [style]="
                                    {'height': '30px',
                                    'margin-right': '12px',
                                    'margin-top': '10px',
                                    'font-size': '14px'}"
                                />
                        }
                    }
                </div>
                <p><i class="pi pi-info-circle" style="font-size: 12px"></i>Wybrany obraz będzie się wyświetlał nad treścią pytania.</p>
            </div>
        </div>

        <div class="question-answer-row">
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[0]"/>
                        <label for="quesiton-content">Odpowiedź A</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[0]"
                                [binary]="true" 
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[1]"/>
                        <label for="quesiton-content">Odpowiedź B</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[1]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                </p-floatLabel>
                </p-inputGroup>
            </div>
        </div>

        <div class="question-answer-row">
            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[2]"/>
                        <label for="quesiton-content">Odpowiedź C</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[2]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-floatLabel [style]="{width: '100%'}">
                        <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="40" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[3]"/>
                        <label for="quesiton-content">Odpowiedź D</label>
                        <p-inputGroupAddon>
                            <p-checkbox
                                [formControl]="questionFormGroup.controls.correctAnswers.controls[3]"
                                [binary]="true"
                                />
                        </p-inputGroupAddon>
                    </p-floatLabel>
                </p-inputGroup>
            </div>
        </div>
    </div>
    
    <div class="question-buttons-box">
        @if (currentEditedQuestionIndex >= 0) {
            <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="closeEditDialog()" class="dialog-button"/>
            <p-button label="Zapisz" severity="primary" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="saveQuestion()" class="dialog-button"/>
        } @else {
            <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="closeEditDialog()" class="dialog-button"/>
            <p-button label="Zapisz" severity="primary" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="addQuestion()" class="dialog-button"/>
        }
    </div>
</p-dialog>