<p-floatLabel class="mx-2 my-6 p-0">
    <input id="username" type="text" pInputText [style]="{width: '100%'}" [formControl]="nameFormControl" maxlength="25"/>
    <label for="username">Nazwa</label>
</p-floatLabel>

<div class="dialog-buttons-box mx-2">
    <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="close()"/>
    <p-button 
        [label]="dialogType == 'add' ? 'Utwórz' : 'Zapisz'" 
        severity="primary" [outlined]="true" 
        (click)="dialogType == 'edit' ? addNewQuestionBase() : saveQuestionBaseName()" 
        class="ml-2" 
        [disabled]="nameFormControl.invalid"
    />
</div>