<div class="custom-file-input">
    <input type="file" id="fileUpload" (change)="onUpload($event)" accept="image/*" [disabled]="uploaderDisabled"/>
    <label for="fileUpload" [ngStyle]="{'height': 'var(--comp-height)', 'font-size': 'var(--comp-font-size)'}" >
      <i class="pi pi-upload" [ngStyle]="{'font-size': 'var(--comp-font-size)'}"></i>
      {{ getFileUploaderContentText() }}
    </label>
</div>

@if (this.selectedFile != null) {
    <p-button [outlined]="true" [style]="{'height': 'var(--comp-height)', 'width': 'var(--comp-height)'}" (click)="emitDisplayImageEvent()">
      <i class="pi pi-eye" [ngStyle]="{'font-size': 'var(--comp-font-size)'}"></i>
    </p-button>

    <p-button [outlined]="true" severity="secondary" [style]="{'height': 'var(--comp-height)', 'width': 'var(--comp-height)'}" (click)="removeImage()">
      <i class="pi pi-trash" [ngStyle]="{'font-size': 'var(--comp-font-size)'}"></i>
    </p-button>
}