<div class="custom-file-input">
    <input type="file" id="fileUpload" (change)="onUpload($event)" accept="image/*" [disabled]="uploaderDisabled"/>
    <label for="fileUpload" [ngStyle]="{'height': componentHeight + 'px', 'font-size': getFontSize()}" >
      <i class="pi pi-upload" [ngStyle]="{'font-size': getFontSize()}"></i>
      {{ getFileUploaderContentText() }}
    </label>
</div>

@if (this.selectedFile != null) {
    <p-button icon="pi pi-eye" [outlined]="true" [style]="{'height': componentHeight + 'px'}" (click)="emitDisplayImageEvent()"/>
    <p-button icon="pi pi-trash" [outlined]="true" severity="secondary" [style]="{'height': componentHeight + 'px'}" (click)="removeImage()"/>
}