<div class="custom-file-input">
    <input type="file" [id]="'fileUpload' + uuid" (change)="onUpload($event)" accept="image/*" [disabled]="uploaderDisabled"/>
    <label [for]="'fileUpload' + uuid" [ngStyle]="{'height': getComponentHeight(), 'font-size': getFontSize()}" >
      <i class="pi pi-upload" [ngStyle]="{'font-size': getFontSize()}"></i>
      {{ getFileUploaderContentText() }}
    </label>
</div>

@if (this.selectedFile != null) {
    <p-button [outlined]="true" [ngStyle]="{'height': getComponentHeight()}" [style]="{'height': getComponentHeight(), 'width': getComponentHeight(), margin: '0', padding: '0'}" (click)="emitDisplayImageEvent()">
      <i class="pi pi-eye" [ngStyle]="{'font-size': getFontSize()}"></i>
    </p-button>

    <p-button [outlined]="true" severity="secondary" [ngStyle]="{'height': getComponentHeight()}" [style]="{'height': getComponentHeight(), 'width': getComponentHeight(), margin: '0', padding: '0'}" (click)="removeImage()">
      <i class="pi pi-trash" [ngStyle]="{'font-size': getFontSize()}"></i>
    </p-button>
}