:host {
    $panel-size: 217px;

    display: flex;
    max-height: calc(100vh - 56.5px);
    overflow: auto;
    width: 100%;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .test-panel {
        background: var(--p-zinc-800);
        color: var(--p-text-color);
        width: $panel-size;
        height: $panel-size;
        border-radius: var(--p-border-radius-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        word-break: break-word;
        position: relative;

        h1 {
            text-align: center;
        }

        p {
            color: var(--p-zinc-400);
        }

        &:hover {
            background: var(--p-zinc-700);
            transition: 0.2s;
            cursor: pointer;
        }
    }
}