@if (false) {
    <app-spinner/>
} @else {
    <div class="container m-2">
        @for (test of tests; track $index) {
            <div class="test-panel m-2" (click)="goToTestEditor(test.id)">
                <h1 class="text-3xl m-0 p-0 px-4 pb-1 line-height-2">{{ test.name }}</h1>
                <p class="m-0 p-0 line-height lighter">{{ test.code }}</p>
                <p class="m-0 p-0 line-height-1">{{ test.isActive ? 'Aktywny' : 'Nieaktywny' }}</p>

                <i class="pi pi-copy clickable-icon copy-icon text-lg"></i>
                <i class="pi pi-pencil clickable-icon edit-icon text-lg" (click)="displayTestNameEditDialog($event, $index)"></i>
                <i class="pi pi-trash clickable-icon delete-icon text-lg" (click)="displayTestRemovalModal($event, $index)"></i>
            </div>
        }

        <div class="test-panel m-2" (click)="displayTestCreatingDialog()">
            <i class="pi pi-plus text-2xl" style="color: var(--p-zinc-200)"></i>
        </div>
    </div>
}