<p-floatLabel>
    <input id="username" type="text" pInputText [style]="{width: '100%'}" [formControl]="nameFormControl" maxlength="25"/>
    <label for="username">Nazwa</label>
</p-floatLabel>

@if (addingNewQuestionBase) {
    <div class="dialog-buttons-box">
        <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="close()" class="dialog-button"/>
        <p-button label="Utwórz" severity="primary" [outlined]="true" (click)="addNewQuestionBase()" class="dialog-button" [disabled]="nameFormControl.invalid"/>
    </div>
} @else {
    <div class="dialog-buttons-box">
        <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="close()" class="dialog-button"/>
        <p-button label="Zapisz" severity="primary" [outlined]="true" (click)="saveQuestionBaseName()" class="dialog-button" [disabled]="nameFormControl.invalid"/>
    </div>
}