@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Baloo Paaji 2", Arial;
}

:root {
    --p-tooltip-background: var(--p-zinc-800) !important;
    --p-tooltip-color: var(--p-zinc-200) !important;
}