@if (testLogs) {
    <div class="container m-0">
        <div class="test-name-bar m-0 p-0 py-2">
            @if (testName) {
                <div style="display: flex; align-items: center; justify-content: center;">
                    <p-button icon="pi pi-arrow-left" label="Historia testów" class="ml-3" [outlined]="true" severity="secondary" (click)="goBack()"/>
                    <h2 class="m-0 py-1 px-3 text-4xl font-light">{{ testName }}</h2>
                </div>

                <div class="search-box">
                    <input type="text" pInputText placeholder="Wyszukaj rozwiązanie po nazwie użytkownika"/>
                    <p-button [outlined]="true" [style]="{'margin': '0 15px'}" label="Szukaj" icon="pi pi-search" />
                </div>

                <div>
                    <p-button [outlined]="true" severity="secondary" [style]="{'margin': '0 15px'}" label="Wyczyść" icon="pi pi-trash" />
                    <p-button [outlined]="true" severity="secondary" [style]="{'margin': '0 15px 0 0'}" label="Ustawienia testu" icon="pi pi-cog" />
                </div>
            } @else {
                <!-- <app-spinner [spinnerWidth]="2" [spinnerSize]="32.338" class="my-2 mt-3"/> -->
            }
        </div>
        <div class="m-0 p-0 logs-container">
            <div class="logs m-0 p-0 px-3 py-3 gap-3">
                @if (testLogs.length > 0) {
                    @for (testLog of testLogs; track $index) {
                        <div class="test-log-panel m-0 p-3 py-3" (click)="openSelectedAnswersDisplay($index)">
                            <h1 class="text-xl m-0 p-0 line-height-1 align-self-start primary-color">{{ testLog.username }}</h1> 
                            <h1 class="text-lg m-0 p-0 line-height-1">Wynik: {{ testLog.earnedPoints }}/{{ testLog.maxPoints }} ({{ (testLog.earnedPoints / testLog.maxPoints * 100).toFixed(2) }}%)</h1>
                            <h1 class="text-lg m-0 p-0 line-height-1">Data wykonania: {{ testLog.solveDate | date: 'dd/MM/yyyy HH:mm' }}</h1>
                            <h1 class="text-lg m-0 p-0 line-height-1">Czas: {{ convertTimeInSecondsToTimeString(testLog.durationInSeconds) }}</h1>

                            <p class="line-height-1 m-0 p-0 text-xs pt-3">Kliknij, aby zobaczyć zaznaczone odpowiedzi</p>
                        </div>
                    }
                    @if (testLogs.length % 3 == 2) {
                        <div class="empty m-o p-3"></div>
                    }
                    @else if (testLogs.length % 3 == 1) {
                        <div class="empty m-o p-3"></div>
                        <div class="empty m-o p-3"></div>
                    }
                } @else {
                    <p>Brak rozwiązań tego testu.</p>
                }
            </div>

            <div class="paginator-box">
                @if (testLogs && testLogs.length > 0) {
                    <p-paginator 
                        [alwaysShow]="false"
                        (onPageChange)="onPageChange($event)"
                        [first]="paginatorOptions!.first"
                        [rows]="paginatorOptions!.rows"
                        [totalRecords]="paginatorOptions!.totalItems"
                        [rowsPerPageOptions]="paginatorOptions!.rowsPerPage"
                        />
                }
            </div>
        </div>
    </div>
} @else {
    <!-- spinner -->
}
    