:host {
    .test-options-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .test-name-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--p-zinc-850);
        color: var(--p-zinc-200);
    }

    .search-box {
        display: flex;
        align-items: center;
        width: 50%;

        input {
            width: 100%;
        }
    }

    .logs-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .test-logs-row {
        display: flex;
        width: 100%;
    }

    .test-log-panel {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--p-zinc-900);
        border-radius: var(--p-border-radius-lg);
    }
}