<div class="container m-0 p-0">
    <h1 class="m-0 p-0 mb-5 line-height-1">Zmiana hasła</h1>

    <p-floatLabel class="mb-5">
        <p-password id="password" [toggleMask]="true" [feedback]="false" [style]="{'width':'500px'}" [inputStyle]="{'width':'500px'}" formControlName="password" />
        <label for="password" class="auth-data-input">Stare hasło</label>
    </p-floatLabel>

    <p-floatLabel class="mb-5">
        <p-password id="password" [toggleMask]="true" [feedback]="false" [style]="{'width':'500px'}" [inputStyle]="{'width':'500px'}" formControlName="password" />
        <label for="password" class="auth-data-input">Nowe hasło</label>
    </p-floatLabel>

    <p-floatLabel class="mb-5">
        <p-password id="password" [toggleMask]="true" [feedback]="false" [style]="{'width':'500px'}" [inputStyle]="{'width':'500px'}" formControlName="password" />
        <label for="password" class="auth-data-input">Powtórz nowe hasło</label>
    </p-floatLabel>

    <p-button label="Zmień hasło" [outlined]="true"/>
</div>