<div class="question-input-box">
    <div class="question-content-box">
        <p-floatLabel>
            <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="120" [formControl]="questionFormGroup.controls.content"/>
            <label for="quesiton-content">Pytanie</label>
        </p-floatLabel>

        <app-image-panel [formControl]="questionFormGroup.controls.contentImage" (onDisplayPreview)="displayImagePreview($event)"/>
        <p class="p-info-text"><i class="pi pi-info-circle"></i>Wybrany obraz będzie wyświetlany nad treścią pytania</p>
    </div>

    <div class="question-answer-row">
        <div class="dialog-single-answer-box">
            <p-inputGroup>
                <p-floatLabel [style]="{width: '100%'}">
                    <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="50" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[0]"/>
                    <label for="quesiton-content">Odpowiedź A</label>
                    <p-inputGroupAddon>
                        <p-checkbox
                            [formControl]="questionFormGroup.controls.correctAnswers.controls[0]"
                            [binary]="true" 
                            />
                    </p-inputGroupAddon>
                </p-floatLabel>
            </p-inputGroup>

            <app-image-panel [formControl]="questionFormGroup.controls.answerImages.controls[0]" (onDisplayPreview)="displayImagePreview($event)" [smaller]="true"/>
            <p class="p-info-text smaller"><i class="pi pi-info-circle"></i>Wybrany obraz będzie wyświetlany nad treścią odpowiedzi A</p>
        </div>
        <div class="dialog-single-answer-box">
            <p-inputGroup>
                <p-floatLabel [style]="{width: '100%'}">
                    <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="50" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[1]"/>
                    <label for="quesiton-content">Odpowiedź B</label>
                    <p-inputGroupAddon>
                        <p-checkbox
                            [formControl]="questionFormGroup.controls.correctAnswers.controls[1]"
                            [binary]="true"
                            />
                    </p-inputGroupAddon>
                </p-floatLabel>
            </p-inputGroup>

            <app-image-panel [formControl]="questionFormGroup.controls.answerImages.controls[1]" (onDisplayPreview)="displayImagePreview($event)" [smaller]="true" [uploaderDisabled]="!isPreviousAnswerSet(1)"/>
            <p class="p-info-text smaller"><i class="pi pi-info-circle"></i>Wybrany obraz będzie wyświetlany nad treścią odpowiedzi B</p>
        </div>
    </div>

    <div class="question-answer-row">
        <div class="dialog-single-answer-box">
            <p-inputGroup>
                <p-floatLabel [style]="{width: '100%'}">
                    <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="50" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[2]"/>
                    <label for="quesiton-content">Odpowiedź C</label>
                    <p-inputGroupAddon>
                        <p-checkbox
                            [formControl]="questionFormGroup.controls.correctAnswers.controls[2]"
                            [binary]="true"
                            />
                    </p-inputGroupAddon>
                </p-floatLabel>
            </p-inputGroup>

            <app-image-panel [formControl]="questionFormGroup.controls.answerImages.controls[2]" (onDisplayPreview)="displayImagePreview($event)" [smaller]="true" [uploaderDisabled]="!isPreviousAnswerSet(2)"/>
            <p class="p-info-text smaller"><i class="pi pi-info-circle"></i>Wybrany obraz będzie wyświetlany nad treścią odpowiedzi C</p>
        </div>
        <div class="dialog-single-answer-box">
            <p-inputGroup>
                <p-floatLabel [style]="{width: '100%'}">
                    <input id="quesiton-content" type="text" pInputText [style]="{width: '100%'}" maxlength="50" class="input-border-radius-left-only" [formControl]="questionFormGroup.controls.answers.controls[3]"/>
                    <label for="quesiton-content">Odpowiedź D</label>
                    <p-inputGroupAddon>
                        <p-checkbox
                            [formControl]="questionFormGroup.controls.correctAnswers.controls[3]"
                            [binary]="true"
                            />
                    </p-inputGroupAddon>
                </p-floatLabel>
            </p-inputGroup>

            <app-image-panel [formControl]="questionFormGroup.controls.answerImages.controls[3]" (onDisplayPreview)="displayImagePreview($event)" [smaller]="true" [uploaderDisabled]="!isPreviousAnswerSet(3)"/>
            <p class="p-info-text smaller"><i class="pi pi-info-circle"></i>Wybrany obraz będzie wyświetlany nad treścią odpowiedzi D</p>
        </div>
    </div>
</div>

<div class="question-buttons-box">
    @if (addingNewQuestion) {
        <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="close()" class="dialog-button"/>
        <p-button label="Utwórz" severity="primary" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="addQuestion()" class="dialog-button"/>
    } @else {
        <p-button label="Anuluj" severity="secondary" [outlined]="true" (click)="close()" class="dialog-button"/>
        <p-button label="Zapisz" severity="primary" [outlined]="true" [disabled]="questionFormGroup.invalid" (click)="save()" class="dialog-button"/>
    }
</div>