:host {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .tile {
        width: 120px !important;
        height: 120px !important;
    }
}