<p-toast position="bottom-left" [life]="3000" />

<div class="container">
    <h1>Logowanie</h1>
    <div class="auth-data-input-box" [formGroup]="loginFormGroup">
        <p-floatLabel>
            <input id="email" type="text" pInputText class="auth-data-input" formControlName="email" />
            <label for="email">Email</label>
        </p-floatLabel>

        <p-floatLabel>
            <p-password id="password" [toggleMask]="true" [feedback]="false" [style]="{'width':'500px'}" [inputStyle]="{'width':'500px'}" formControlName="password" />
            <label for="password" class="auth-data-input">Hasło</label>
        </p-floatLabel>

        <p-button label="Zaloguj się" [outlined]="true" [disabled]="loginFormGroup.invalid" [loading]="loginButttonLoading" (click)="login()" />

        <a routerLink="../register">Nie masz konta? Zarejestruj się</a>
    </div>
</div>