<div class="container m-0 p-0">
    <div class="test-name-bar m-0 p-0 py-2">
        @if (testName && testOptions) {
            <div style="display: flex; align-items: center; justify-content: center;">
                <p-button icon="pi pi-arrow-left" label="Testy" class="ml-3" (click)="goBack()" [outlined]="true" severity="secondary"/>
                <h2 class="m-0 py-1 px-3 text-4xl font-light">{{ testName }}</h2>
            </div>

            <div class="test-functionalities-box">
                <p-button icon="pi pi-pencil" label="Zmień nazwę" [outlined]="true" severity="secondary" class="mr-3" (click)="displayTestNameEditDialog()"/>
                <p-button icon="pi pi-trash" label="Usuń" [outlined]="true" severity="secondary" class="mr-3" (click)="displayTestRemovalModal($event)"/>
                <p-button icon="pi pi-copy" label="Skopiuj kod" [outlined]="true" severity="secondary" class="mr-3" (click)="copyCode()"/>

                <p-button 
                    icon="pi pi-globe" 
                    [label]="isTestActive ? 'Dezaktywuj' : 'Aktywuj'" 
                    [outlined]="true" 
                    class="mr-3"
                    (click)="changeTestActiveState()"/>
            </div>
        } @else {
            <app-spinner [spinnerWidth]="2" [spinnerSize]="32.338" class="my-2 mt-3"/>
        }
    </div>

    <div class="test-options-container m-0">
        @if (testOptions) {
            <h2 class="m-0 p-0 mt-4 ml-4 info text-2xl">
                {{ isTestActive 
                    ? 'Test jest teraz aktywny, dezaktywuj go, aby edytować' 
                    : 'Test jest nieaktywny (nie można go w tej chwili rozwiązać)'
                }}
            </h2>

            <div class="test-options m-4">
                <div class="question-count-input-box m-0 p-0">
                    <label class="text-sm">Ogólna liczba pytań</label>
                    @if (!isTestActive) {
                        <input pInputText type="number" min="1" max="150" [formControl]="testOptionsFormGroup.controls.questionCount"/>
                    } @else {
                        <label class="mb-2 mt-1">{{ testOptions.questionCount }}</label>
                    }
                </div>

                <div class="picked-question-bases-box m-0 p-0">
                    @if (testOptions.usedQuestionBases.length > 0) {
                        <h2 class="m-0 p-0 text-lg mt-4">Wybrane bazy pytań:</h2>
                        <p-button 
                            [outlined]="true"
                            icon="pi pi-plus"
                            size="small"
                            class="mt-2"
                            (click)="openQuestionBaseSelectingDialog()"
                            [disabled]="isTestActive"
                            />
                        <table class="mt-1">
                            <tr>
                                <th>Nazwa</th>
                                <th class="px-2">Minimalna ilość pytań</th>
                            </tr>

                            @for (questionBase of testOptions.usedQuestionBases; track $index) {
                                <tr>
                                    <td>
                                        <p class="my-0 mx-3">{{ questionBase.questionBaseName }}<i class="pi pi-trash text-sm ml-2" (click)="displayQuestionBaseUnselectingDialog($index, $event)"></i> </p>
                                    </td>
                                    <td class="text-center">
                                        @if (!isTestActive) {
                                            <input 
                                                pInputText 
                                                type="number" 
                                                [value]="questionBase.minimalQuestionCount" 
                                                max="150" 
                                                class="question-count-input my-2" 
                                                [formControl]="testOptionsFormGroup.controls.minimalQuestionCounts.at($index)"
                                            />
                                        } @else {
                                            <label>{{ testOptions.usedQuestionBases[$index].minimalQuestionCount }}</label>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    } @else {
                        <h2 class="m-0 p-0 text-lg mt-4">Brak wybranych baz pytań</h2>
                        <p-button 
                            [outlined]="true"
                            icon="pi pi-plus"
                            size="small"
                            class="mt-2"
                            (click)="openQuestionBaseSelectingDialog()"
                            [disabled]="isTestActive"
                            />
                    }
                </div>

                <p class="m-0 mt-2 p-0 line-height-1 text-sm info"><i class="pi pi-info-circle text-xs pr-1"></i>Ogólna liczba pytań określa z ilu pytań składa się test. Minimalna ilość pytań przy bazach pytań określa ile pytań conajmniej będzie wylosowane z danej bazy pytań. Pozostałe pytania będą losowane z dowolnej bazy pytań.</p>
            </div>

            <div class="finalize-box ml-4">
                <p-button 
                    [outlined]="true"
                    label="Zapisz"
                    icon="pi pi-pencil"
                    [disabled]="testOptionsFormGroup.invalid || isTestActive"
                    (click)="saveTestOptions()"
                />

                <div class="code-box mt-4">
                    <div>
                        <label class="text-sm">Kod testu</label>
                    </div>
                    <div>
                        <input pInputText style="width: min-content" maxlength="8" readonly [formControl]="codeFormControl"/>
                        <p-button label="Wygeneruj nowy" [outlined]="true" class="ml-3" [disabled]="isTestActive" (click)="changeTestCode()"/>
                    </div>
                </div>
            </div>
        } @else {
            <app-spinner/>
        }
    </div>
</div>
